<div class="fixedContainer"></div>
<div class="container">
  <div class="formCenter">
    <form
      class="example-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Email"
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          formControlName="email"
          id="email"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : ''"
          [formControl]="passwordFormControl"
          formControlName="password"
          id="password"
        />
      </mat-form-field>
      <button [disabled]="!loginForm.valid" mat-flat-button color="primary">
        Primary
      </button>
    </form>
  </div>
</div>
